.Form {
   width: 50%;
   margin: 20px auto;
   border: .5px solid lightgrey;
   border-radius: 5px;
   padding: 10px 10px;
}

label {
   font-weight: 600;   
}

.title {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
}

img {
   width: 25px;
   height: 25px;
   margin-right: 5px;
}

.Field {
   display: flex;
   flex-direction: column;
}
.nameRow, .addressRow, .locationRow {
   display: grid;
   grid-gap: 20px;
}

.nameRow {
   grid-template-columns: 1fr 1fr;
}

.addressRow {
   grid-template-columns: 3fr 1fr;
   margin-bottom: 20px;
}

.locationRow {
   grid-template-columns: 1fr 3fr;
}

.submitButton {
   width: 100%;
   background-color: green;
   border: 1px solid green;
   border-radius: 5px;
   color: white;
   font-size: 20px;
   padding-top: 15px;
   padding-bottom: 15px;
   margin-top: 20px;
   font-weight: 500;
   cursor: pointer;
   transition: .3s;
}

.submitButton:hover {
   background-color: rgb(71, 197, 71);
}

@media only screen and (max-width: 768px) {
   .Form {
      min-width: 480px;
   }
}